<script setup>
  const route = useRoute();

  console.log('users with id:', route.params.id)
</script>

<template>
  <div class="xl:container mx-auto">
    User: {{ route.params.id }}

    <br><br>
    <router-link to="/en/">
        Go back to home page
      </router-link>
  </div>
</template>
