<script setup>
  import auth from '@/api/auth'
  import { useAuthStore } from '@/stores/auth'
  const authStore = useAuthStore()
  const i18nRouter = useI18nRouter()

  async function login() {
    const response = await auth.login('test', 'test')
    if (response.status === 200) {
      // TOOD:
      // console.log(response.data)

      authStore.updateUser({
        id: 1,
        email: 'suthepru@scg.com',
        name: 'Tom Suthee'
      })

      authStore.updateToken('123')

      i18nRouter.push('/')
    }
  }
</script>

<template>
  <div class="xl:container mx-auto flex justify-center items-center">
    <div>
      <div>
        <Button title="Login" primary v-on:click="login" />
      </div>

      <hr class="my-8">

      <router-link :to="localePath('/')">
        Back
      </router-link>
    </div>

  </div>
</template>
