<script setup>
import { storeToRefs } from 'pinia'
import { useAlertStore } from '@/stores/alert'

// data

const alertStore = useAlertStore()
const { show } = storeToRefs(alertStore)
let timer = null;

// compute

// watcher

watch(show, (n, o) => {
  if (n === o && n === true) {
    resetTimer()
  } else if (n === true) {
    setTimer()
  } else {
    alertStore.hideAlert()
    clearTimer()
  }
})

// methods

function clearTimer () {
  if (timer) {
    clearTimeout(timer)
    timer = null
  }
}

function setTimer () {
  clearTimer()

  if (alertStore.autohide) {
    timer = setTimeout(() => {
      close()
    }, alertStore.autohideDelay * 1000)
  }
}

function resetTimer () {
  clearTimer()
  setTimer()
}

function close (action = null) {
  alertStore.hideAlert()
  if (action) {
    action()
  }
}

</script>

<template>
  <ClientOnly>
    <Transition name="fade">
      <div v-if="show" class="alert" :class="alertStore.typeClass">
        <div v-if="alertStore.withIcon" class="pr-12">
          <img :src="alertStore.typeIcon" class="h-[20px] w-[20px] mt-4" alt="icon">
        </div>
        <div class="flex-auto">
          <div v-if="alertStore.title" class="small font-bold">
            {{ alertStore.title }}
          </div>
          <div v-if="alertStore.message" class="small">
            {{ alertStore.message }}
          </div>
          <div v-if="Object.keys(alertStore.actions).length > 0" class="pt-16">
            <a v-for="(action, label) in alertStore.actions" class="pr-8" @click="close(action)">
              {{ label }}
            </a>
          </div>
        </div>
        <div v-if="alertStore.autohide === false">
          <img
            src="/img/icon-close.svg"
            alt="close alert"
            class="w-[20px] h-[20px] mt-4 cursor-pointer"
            @click="close(null)"
          >
        </div>
      </div>
    </Transition>
  </ClientOnly>
</template>

<style scoped>
</style>