<script setup>
  const props = defineProps({
    title: String | null,
    to: String | null,
    primary: Boolean,
    secondary: Boolean,
    transparent: Boolean,
    iconPlus: Boolean,
    iconLeftArrow: Boolean,
    iconRightArrow: Boolean,
  })

  const emit = defineEmits(['click'])

  const hasIcon = props.iconPlus || props.iconLeftArrow || props.iconRightArrow
  const icon = computed(() => {
    let tmp = '/img/icon-'

    if (props.iconPlus) {
      tmp += 'plus-'
    } else if (props.iconLeftArrow) {
      tmp += 'right-arrow-'
    } else if (props.iconRightArrow) {
      tmp += 'left-arrow-'
    }

    if (props.primary) {
      tmp += 'white.svg'
    } else {
      tmp += 'black.svg'
    }

    return tmp
  })

  function onClick () {
    if (props.to) {
      const i18nRouter = useI18nRouter()
      i18nRouter.push(props.to)
    }
    emit('click')
  }
</script>

<template>
  <button
    type="button"
    :class="{
      'primary': props.primary,
      'secondary': props.secondary,
      'icon': hasIcon
    }"
    @click="onClick"
  >
    {{ props.title }}
    <img :src="icon" v-if="hasIcon">
  </button>
</template>
