<script setup>
  import { useAuthStore } from '@/stores/auth'
  const authStore = useAuthStore()
  const i18nRouter = useI18nRouter()

  const { locale, setLocale } = useI18n()

  const { $bus } = useNuxtApp()

  // compute

  const currentLocale = computed(() => {
    return locale.value === 'th' ? 'TH/EN' : 'EN/TH'
  })

  // watch

  // methods

  function toggleLocale() {
    setLocale(locale.value === 'th' ? 'en' : 'th')
  }

  function logout() {
    authStore.logOut()
    i18nRouter.push('/')
  }

</script>

<template>
  <div class="nav-bar">
    <div>
      <img src="/img/avatar-dummy.jpg" alt="" class="avatar-48">
    </div>
    <div class="flex-auto text-center">
      <a @click="$bus.emit('test_event')" class="cursor-pointer">
        {{ authStore.userEmail }}
      </a>
    </div>
    <div class="">
      <Button :title="currentLocale" transparent v-on:click="toggleLocale()" />
      <Button v-if="authStore.isLoggedIn === false" title="Login" class="primary" to="/login" />
      <Button v-else title="Logout" class="primary" v-on:click="logout" />
    </div>
  </div>
</template>

<style scoped>
.nav-bar {
  @apply w-full h-[64px] py-16 px-12 bg-white fixed top-0 flex items-center border-b-[1px] drop-shadow-md;
}
</style>