.alert {
    /* @apply min-h-[54px] min-w-[344px] md:min-w-[896px] max-w-[100%] p-16 flex; */
    @apply fixed top-[84px] right-[20px] flex justify-center;
    @apply min-h-[54px] p-16 flex;
    @apply min-w-[100px] tablet:min-w-[344px];
    @apply drop-shadow-md;
    max-width: calc(100vw - 40px);
}

.alert a {
    @apply font-anuphan text-xs font-semibold cursor-pointer;
}

/* Positive */

.alert.positive {
    @apply bg-interaction-positive-bg text-interaction-positive-title;
}

.alert.positive a {
    @apply text-interaction-positive-link-default;
}

.alert.positive a:hover {
    @apply text-interaction-positive-link-hover;
}

.alert.positive a:focus {
    @apply text-interaction-positive-link-pressed;
}

/* Warning */

.alert.warning {
    @apply bg-interaction-warning-bg text-interaction-warning-title;
}

.alert.warning a {
    @apply text-interaction-warning-link-default;
}

.alert.warning a:hover {
    @apply text-interaction-warning-link-hover;
}

.alert.warning a:focus {
    @apply text-interaction-warning-link-pressed;
}

/* Danger */

.alert.danger {
    @apply bg-interaction-negative-bg text-interaction-negative-title;
}

.alert.danger a {
    @apply text-interaction-negative-link-default;
}

.alert.danger a:hover {
    @apply text-interaction-negative-link-hover;
}

.alert.danger a:focus {
    @apply text-interaction-negative-link-pressed;
}

/* Info */

.alert.info {
    @apply bg-interaction-info-bg text-interaction-info-title;
}

.alert.info a {
    @apply text-interaction-info-link-default;
}

.alert.info a:hover {
    @apply text-interaction-info-link-hover;
}

.alert.info a:focus {
    @apply text-interaction-info-link-pressed;
}
