.avatar {
    @apply font-anuphan rounded-full inline-block;
}

div.avatar {
    @apply inline-flex justify-center items-center bg-non-contextual-avatar-bg;
}

.avatar-32,
.avatar-xs {
    @apply avatar w-[32px] h-[32px] text-sm;
}

.avatar-40,
.avatar-sm {
    @apply avatar w-[40px] h-[40px] text-base;
}

.avatar-48,
.avatar-md {
    @apply avatar w-[48px] h-[48px] text-base;
}

.avatar-56,
.avatar-lg {
    @apply avatar w-[56px] h-[56px] text-lg;
}

.avatar-64,
.avatar-xl {
    @apply avatar w-[64px] h-[64px] text-lg;
}

.avatar-80,
.avatar-2xl {
    @apply avatar w-[80px] h-[80px] text-lg font-bold;
}

.avatar-120,
.avatar-5xl {
    @apply avatar w-[120px] h-[120px] text-5xl font-bold;
}
