.badge {
    @apply min-w-[91px] min-h-[24px] py-[2px] px-[12px];
    @apply inline-block rounded-md;
    @apply text-center font-anuphan text-[14px] font-semibold
}

.badge.default {
    @apply bg-non-contextual-badge-default-bg text-non-contextual-badge-default-label;
}

.badge.negative {
    @apply bg-non-contextual-badge-negative-bg text-non-contextual-badge-negative-label;
}

.badge.warning {
    @apply bg-non-contextual-badge-warning-bg text-non-contextual-badge-warning-label;
}

.badge.positive {
    @apply bg-non-contextual-badge-positive-bg text-non-contextual-badge-positive-label;
}

.badge.info {
    @apply bg-non-contextual-badge-info-bg text-non-contextual-badge-info-label;
}