button {
    @apply outline-none text-center;
    @apply min-h-[30px] sm:min-h-[34px] md:min-h-[38px] lg:min-h-[42px] xl:min-h-[50px];
    @apply pt-[4px] px-[12px] pb-[6px];
    @apply sm:pt-[6px] sm:px-[16px] sm:pb-[8px];
    @apply md:pt-[8px] md:px-[20px] md:pb-[10px];
    @apply lg:pt-[8px] lg:px-[24px] lg:pb-[12px];
    @apply xl:pt-[12px] xl:px-[32px] xl:pb-[12px];
    @apply text-xs xl:text-sm;
    @apply font-semibold md:font-bold;
    @apply font-anuphan md:font-inter;
}

button.icon {
    @apply min-w-[30px] sm:min-w-[34px] md:min-w-[38px] lg:min-w-[42px] xl:min-w-[50px];
    @apply p-[7px] sm:p-[9px] md:p-[11px] lg:p-[13px] xl:p-[17px]
}

/* Primary */

button.primary {
    @apply bg-action-primary-bg-default text-action-primary-label;
}

button.primary:hover {
    @apply bg-action-primary-bg-hover text-action-primary-label;
}

button.primary:focus {
    @apply bg-action-primary-bg-pressed text-action-primary-label;
}

button.primary.disabled {
    @apply bg-action-primary-bg-disabled text-action-primary-label;
}

/* Secondary */

button.secondary {
    @apply bg-action-secondary-bg-default text-action-secondary-label-default;
}

button.secondary:hover {
    @apply bg-action-secondary-bg-hover text-action-secondary-label-default;
}

button.secondary:focus {
    @apply bg-action-secondary-bg-pressed text-action-secondary-label-default;
}

button.secondary.disabled {
    @apply bg-action-secondary-bg-default text-action-secondary-label-disabled;
}

button.transparent {
    @apply bg-transparent;
}