* {
    @apply font-inter text-base;
}

h1,
h2,
h3,
h4,
h5,
h6,
.display,
.heading,
.title,
label {
    @apply font-inter leading-[140%];
}

body,
div,
span,
pre,
small,
a,
button {
    @apply font-anuphan leading-[140%];
}

h1,
.display {
    @apply text-4xl tablet:text-5xl desktop:text-6xl font-bold leading-[100%];
}

h2,
.heading {
    @apply text-2xl tablet:text-4xl desktop:text-5xl font-bold;
}

h3,
.title {
    @apply text-xl tablet:text-2xl desktop:text-3xl font-bold;
}

h4,
body.large,
.body-large,
.body.large,
label.large,
.label-large {
    @apply text-lg;
}

h5,
body,
body.medium,
.body.medium
.body-medium,
div,
span,
pre {
    @apply text-base;
}

h6,
.body.small
.body-small,
.small,
small,
label,
label.medium,
.label-medium {
    @apply text-sm;
}

label.small,
.label-small {
    @apply text-xs;
}

a,
button {
    @apply font-anuphan text-xs font-semibold tablet:font-inter tablet:text-sm tablet:font-bold
}
