<script setup>
  import { useAuthStore } from '@/stores/auth'

  definePageMeta({
    middleware: ["auth"]
  })

  const authStore = useAuthStore()

</script>

<template>
  <div class="xl:container mx-auto">
    Profile for {{ authStore.userEmail }}
    <br><br>
    <router-link to="/">
      Go back to home page
    </router-link>

  </div>
</template>
