<script setup>
// import { useAuthStore } from '@/stores/auth'

</script>

<template>
  <div>
    <NavBar/>

    <div class="content-wrapper">
      <slot />
    </div>

    <Alert/>
  </div>
</template>

<style scoped>
</style>