<script setup>
  import { useAlertStore } from '@/stores/alert'
  const { locale, setLocale } = useI18n()

  const alertStore = useAlertStore()

  const anotherLocale = computed(() => {
    return locale.value === 'th' ? 'en' : 'th'
  })

</script>

<template>
  <div class="xl:container mx-auto">

    <div>
      <h3>Buttons</h3>
      <Button title="Success" primary v-on:click="alertStore.showSuccess('test', 'test', [], true, false)" />&nbsp;
      <Button title="Warning" secondary v-on:click="alertStore.showWarning(
          'test',
          'test',
          {
            'Action 1': () => {
              console.log('Action 1')
            },
            'Action 2': () => {
              console.log('Action 2')
            }
          },
          true,
          false
        )" />&nbsp;
      <Button title="Danger" primary v-on:click="alertStore.showDanger(
          'test',
          'test',
          {
            'View Detail': () => {
              console.log('View Detail')
            }
          },
          true,
          true
        )" />&nbsp;
      <Button title="Info" primary v-on:click="alertStore.showInfo('test', 'test')" />
      <br>
      <br>
      <Button iconPlus primary />
      <Button iconPlus secondary />
      <Button iconLeftArrow primary />
      <Button iconLeftArrow secondary />
      <Button iconRightArrow primary />
      <Button iconRightArrow secondary />

      <router-link to="/en/">
        Go back to home page
      </router-link>
    </div>
    <hr class="my-8">

    <div>
      <h3>i18n</h3>
      <form> 
        <h6>{{ $t('hello', { name: 'vue-i18n' }) }}</h6>
        <label>{{ $t('language') }}: {{ locale }}</label><br>
        <a class="cursor-pointer" @click="setLocale(anotherLocale)">Switch to {{ anotherLocale }}</a>
      </form> 
    </div>
    <hr class="my-8">

    <div>
      <h3>Avatar</h3>
      <div>
        <img src="/img/avatar-dummy.jpg" alt="" class="avatar-120">
        <img src="/img/avatar-dummy.jpg" alt="" class="avatar-80">
        <img src="/img/avatar-dummy.jpg" alt="" class="avatar-64">
        <img src="/img/avatar-dummy.jpg" alt="" class="avatar-56">
        <img src="/img/avatar-dummy.jpg" alt="" class="avatar-48">
        <img src="/img/avatar-dummy.jpg" alt="" class="avatar-40">
        <img src="/img/avatar-dummy.jpg" alt="" class="avatar-32">
      </div>
      <div>
        <div class="avatar-120">TS</div>
        <div class="avatar-80">TS</div>
        <div class="avatar-64">TS</div>
        <div class="avatar-56">TS</div>
        <div class="avatar-48">TS</div>
        <div class="avatar-40">TS</div>
        <div class="avatar-32">TS</div>
      </div>
    </div>
    <hr class="my-8">

    <div>
      <h3>Badge</h3>
      <div>
        <div class="badge default">Label Text</div>
        <div class="badge negative">Label Text</div>
        <div class="badge warning">Label Text</div>
        <div class="badge positive">Label Text</div>
        <div class="badge info">Label Text</div>
      </div>
    </div>
    <hr class="my-8">

  </div>
</template>
