<script setup>
  
</script>

<template>
  <div class="xl:container mx-auto">
    Landing page
  </div>

  <div class="pt-8">
    <label>You can see list of components here:</label><br/>
    <Button title="Components" class="primary" to="/components" />
    <br><br>
    <label>You can play with Vue Composition Life Cycle here:</label><br/>
    <Button title="Life Cycle" class="primary" to="/life-cycle" />
    <br><br>
    <label>You can play with Route param here:</label><br/>
    <Button title="Go to users/1" class="primary" to="/users/1" />
    <br><br>
    <label>You can test auth middleware here:</label><br/>
    <Button title="Profile" class="primary" to="/profile" />
  </div>
</template>
