<script setup>
  // import

  import auth from '@/api/auth'
  
  // dependecy

  const i18nRouter = useI18nRouter()
  const { $bus } = useNuxtApp()

  // data

  const number = ref(0)
  const boolean = ref(false)
  const obj = reactive({
    email: '',
    password: ''
  })
  const time = ref('')

  // variable
  let timer = null

  // computed
  const canLogin = computed(() => obj.email.length > 0 && obj.password.length > 0)

  // watch

  watch(number, (value, previous) => {
    console.log(`number has changed to ${number.value} or ${value} from ${previous}`)
  })

  watch(obj, () => {
    console.log(`obj has changed to ${JSON.stringify(obj)}`)
  }, { deep: true })

  // prefetch (serverside, ssr only)

  onServerPrefetch(() => {
    number.value = 1
    boolean.value = true
  })

  // created (serverside, both ssr and spa)

  const response = await auth.me()
  console.log(`calling me() api when creating component returns HTTP ${response.status}`)

  // hook (client side)

  onBeforeMount(() => {
    console.log('onBeforeMount')
  })

  onMounted(() => {
    console.log('onMounted')

    timer = setInterval(() => {
      time.value = new Date()
    }, 1000);

    $bus.on('test_event', () => {
      console.log('got test_event')
    })
  })
  
  onBeforeUnmount(() => {
    console.log('onBeforeUnmount')

    clearInterval(timer)

    $bus.off('test_event')
  })

  onUnmounted(() => {
    console.log('onUnmounted')
  })

  // method

  async function login() {
    const response = await auth.login(obj.email, obj.password)
    console.log(`calling login() api returns HTTP ${response.status}`)
  }

  function goBack() {
    i18nRouter.push('/')
  }

</script>

<template>
  <div class="xl:container mx-auto flex justify-center items-center">
    <div>
      <form action="">
        <input type="email" v-model="obj.email" class="block my-4 w-full bg-gray-400" placeholder="email" autocomplete="off">
        <input type="password" v-model="obj.password" class="block my-4 w-full bg-gray-400" placeholder="password" autocomplete="off">
        <input type="number" v-model="number" class="block my-4 w-full bg-gray-400" placeholder="number" min="0" max="10">
        <input type="checkbox" v-model="boolean">
        <div>
          <Button title="Login" primary v-on:click="login" />
        </div>
      </form>

      <hr class="my-8">

      <table>
        <tr>
          <td>email</td>
          <td>{{ obj.email }}</td>
        </tr>
        <tr>
          <td>password</td>
          <td>{{ obj.password }}</td>
        </tr>
        <tr>
          <td>number</td>
          <td>{{ number }}</td>
        </tr>
        <tr>
          <td>boolean</td>
          <td>{{ boolean }}</td>
        </tr>
        <tr>
          <td>time</td>
          <td>{{ time }}</td>
        </tr>
      </table>

      <hr class="my-8">

      <a @click="goBack" class="cursor-pointer">Back</a>
    </div>

  </div>
</template>
